<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9P-CwFovlvWxYxDbrEIzJxeI_cMHJV2w</string>
	<key>GCM_SENDER_ID</key>
	<string>835743836230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>duongtambeauty.ezs</string>
	<key>PROJECT_ID</key>
	<string>duong-tam-beauty</string>
	<key>STORAGE_BUCKET</key>
	<string>duong-tam-beauty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835743836230:ios:a16af4320bdb72441b8247</string>
	<key>DATABASE_URL</key>
	<string>https://duong-tam-beauty-default-rtdb.firebaseio.com</string>
</dict>
</plist>